@import "tailwindcss";

@theme {
  --color-background: #030303;
  --color-foreground: white;

  --color-text: white;
  --color-text-invert: black;

  --color-border: white;

  --color-icon: #1e2939;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk"; 
  background: var(--color-background);
  color: var(--color-text);
}

@layer utilities {
    @keyframes slow-drift {

    0%,
    100% {
      transform: translate(0, 0);
    }

    25% {
      transform: translate(20px, -30px);
    }

    50% {
      transform: translate(-15px, -20px);
    }

    75% {
      transform: translate(30px, 10px);
    }
  }

    @keyframes downloadMove {

    0%,
    100% {
      transform: translateY(-1px);
    }

    50% {
      transform: translateY(0);
    }
  }

  @keyframes sendMove {

    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(1px, -1px);
    }
  }

  @keyframes logoPulse {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.7;
    }
  }

  .download-anim {
    animation: downloadMove 1.4s ease-in-out infinite;
  }

  .send-anim {
    animation: sendMove 1.4s ease-in-out infinite;
  }

  .pulse-anim {
    animation: logoPulse 1.2s ease infinite;
  }

}